@ambiten:registry=https://registry.npmjs.org/
pnpm=10.20.0

link-workspace-packages=true
shared-workspace-lockfile=true
auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true